body {
    background-image: var(--background-image-url);
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI';
}


@font-face {
    font-family: 'Anton-Regular';
    src: url('/flask-server/app/static/Fonts/Anton/Anton-Regular.ttf');
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text {
    animation: fadeIn 1s ease-in-out;
}

.custom-padding {
    padding-top: 10rem;
}

#intro-msg {
    font-size: 6rem;
    font-family: 'Anton-Regular';
}

#better-world {
    opacity: 0;
}

#btn {
    color: black;
    font-size: 1.15rem;
    border-radius: 3.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1em 2.5em rgb(19, 114, 49);
    border-color: transparent;
}

@media screen and (max-width: 768px) {
    #intro-msg {
        font-size: 5rem;
        padding-left: 1rem;
    }

    #btn-box {
        display: grid !important;
    }

    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        margin-left: 1rem!important;
    }
    
    #btn {
        padding: 0.5rel 2rem 1rem 2rem;
    }
}