{% extends 'base.html' %}

{% block content %}
<div id="about" class="col-lg-8 mx-auto p-4 py-md-5">
    <!-- <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </header> -->
  
    <main>        
        <div data-aos="fade-up">
            <h1 data-aos="fade-up" class="text-body">Background</h1>
        <p class="para">
            <div class="pb-5">
                Food and poverty are tightly interwoven. It is a complex relationship that transcends geographic boundaries and cultural divides. As 
                societies grapple with the multifaceted challenge of ensuring food security, we often assume that we can’t play a role, and delegate 
                these tasks to international bodies. Our team rejects this idea, and we look at renowned philosopher Peter Singer for inspiration.
            </div>
            <div class="pb-5">
                Peter Singer has done vast research on poverty and charity; He has concluded that every dollar not spent on necessities, must be donated. 
                When we choose to consume in excess, it is a choice, and Peter Singer argues that it’s an inherently immoral choice. Money that we spend 
                on expensive luxury items could be donated, and this donation could save lives. Any money we spend outside of our necessities may make us 
                momentarily excited, but he theories that it could never make an individual truly happy, which is peace that comes from altruism.
            </div>
            <div class="pb-5">
                While this is ideal, our team recognises that each passing year, it gets difficult to afford anything outside of luxury. 
                However, using Peter Singer’s logic, people could move to smaller places and donate unnecessary things, and in theory, this is a good idea. 
                But we have to remain cognizant of how these social structures rule our lives. A lot of times, in order to get jobs, people already need to 
                spend money on luxury goods and services, like well-made clothes, a good computer, in a lot of countries a car. Moreover, with social media, 
                a lot of things that are by right unnecessary, seem like a need. If everyone around you is living in excess, so if you live within your 
                means, it seems that you are living an impoverished life. Our team believes that if people could visualize the change, they could make with 
                money donated, maybe this could enrich their lives enough to prioritize altruism, and that is what we hope to explore with our research 
                question.
            </div></p>
        </div>
        
        <div class="space pb-5" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="text-body">Research Question</h1>
            <p class="para">How might we predict the cost (in USD) for one person to eat a day’s worth of healthy meals?  </p>
        </div>   
        <div class="space pb-5" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="text-body">Objectives</h1>
            <p class="para">
            <div class="pb-5">
                To assess our overconsumption and reflect on better ways to spend our money, we may use this metric to visualise 
                our impact. We hope that in contrasting the money we see as expendable; with the number of meals, it can provide 
                for the impoverished, we re-evaluate what we spend on, and make the altruistic choice to better the lives of others. 
                With this model, people and non-profits may be able to use it to model and estimate budgets and targets for food and donations.
            </div>
            </p>
        </div>
        <div class="text-center" data-aos="fade-up" data-aos-duration="1500">
            <a href="/math-analysis">
                <button id='learn-more' type="button" class="btn btn-primary btn-lg">LEARN MORE</button>
            </a>
        </div>
        <div class="empty-div"></div>
        
        
  
      <!-- <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body">Starter projects</h2>
            <p>Ready to go beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                    Bootstrap npm starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                    Bootstrap Parcel starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                    Bootstrap Vite starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                    Bootstrap Webpack starter
                    </a>
                </li>
            </ul>
        </div>
   -->
        <!-- <div class="col-md-6">
          <h2 class="text-body">Guides</h2>
          <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
          <ul class="list-unstyled ps-0">
            <li>
              <a class="icon-link mb-1" href="/docs/5.3/getting-started/introduction/">
                <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                Bootstrap quick start guide
              </a>
            </li>
            <li>
              <a class="icon-link mb-1" href="/docs/5.3/getting-started/webpack/">
                <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                Bootstrap Webpack guide
              </a>
            </li>
            <li>
              <a class="icon-link mb-1" href="/docs/5.3/getting-started/parcel/">
                <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                Bootstrap Parcel guide
              </a>
            </li>
            <li>
              <a class="icon-link mb-1" href="/docs/5.3/getting-started/vite/">
                <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                Bootstrap Vite guide
              </a>
            </li>
            <li>
              <a class="icon-link mb-1" href="/docs/5.3/getting-started/contribute/">
                <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                Contributing to Bootstrap
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    </main>
  </div>

<script src="{{ url_for('static', filename='my-js/main.js') }}"></script>
{% endblock %}

How might we predict the cost (in USD) for one person to eat a day’s worth of healthy meals?  