{% extends 'base.html' %}

{% block content %}
<div class="custom-padding container col-xl-10 col-xxl-8">
    <h1 id="intro-msg">
        <span id="new-year" class="fade-in-text">New Year,</span>
        <br>
        <span id="better-world">Better World.</span>
    </h1>
</div>
<div id="btn-box" class="container col-xl-10 col-xxl-8 pt-5 d-flex">
    <div class="me-3 btn-div">
        <button id='btn' type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="mx-3 btn-div">
        <button id='btn' type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="mx-3 btn-div">
        <button id='btn' type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="mx-3 btn-div">
        <button id='btn' type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
</div>

{% endblock %}