{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/devibeans.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script src="{{ url_for('static', filename='my-js/main.js') }}"></script
<div class="code-block">
    <div class="code-wrapper">
    <pre>
            <code id="code">
def poop():
if poop = 2:
    return True
else:
    return False</code>
        </pre>
    </div>
</div>
<script src="{{ url_for('static', filename='my-js/app-tool.js') }}"></script>
{% endblock %}