{% extends 'base.html' %}

{% block content %}
<div class="empty-div">
    <div class="text-center">
        <form id="linearRegressionForm">
            <label for="country">Country:</label>
            <select id="country" name="country" required style="width: 200px;">
            <option value="{{ country }}">{{ available_countries.values() }}</option>
            </select>
            <div class="space">
                <label for="money">Amount of Money Spent:</label>
                <input type="range" id="money" name="money" min="0" max="100" step="1" value="50">
                <span id="moneyValue">50</span>
            </div>
            <div class="space">
                <button id='btn-tool' type="button" onclick="runLinearRegression()"> How many meals could you have donated?</button>
            </div>
            
        </form>
        
        <div id="result"></div>
        <script src="{{ url_for('static', filename='my-js/app-tool.js') }}"></script>
    </div>
</div>

{% endblock %}  