{% extends 'base.html' %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="fade-in-text fw-bold lh-1 text-body-emphasis mb-3">Some message</h1>
      <p class="col-lg-10 fs-4">some description about this website blah blah blehhhh</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <div class="p-5  border rounded-3 shadow-sm">
        <h2>data selection</h2>
        <div>
          <ul class="d-grid my-5 list-unstyled small">
            <li class="d-flex gap-4">
              <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
              <div>
                <h5 class="mb-0 py-3">Selection 1</h5>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Data 1</a></li>
                  <li><a class="dropdown-item" href="#">Data 2</a></li>
                  <li><a class="dropdown-item" href="#">Data 3</a></li>
                </ul>
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
              <div>
                <h5 class="mb-0 py-3">Selection 2</h5>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Data 1</a></li>
                  <li><a class="dropdown-item" href="#">Data 2</a></li>
                  <li><a class="dropdown-item" href="#">Data 3</a></li>
                </ul>
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
              <div>
                <h5 class="mb-0 py-3">Selection 3</h5>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Data 1</a></li>
                  <li><a class="dropdown-item" href="#">Data 2</a></li>
                  <li><a class="dropdown-item" href="#">Data 3</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <button class="btn btn-outline-secondary w-100" type="button" onclick="{{ url_for('history') }}">Example button</button>
      </div>
      <div class="modal modal-sheet p-4 p-md-5 border rounded-3 bg-body-tertiary" tabindex="-1" role="dialog" id="modalTour">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
              <h2 class="fw-bold mb-0 fade-in-text">Prediction Model</h2>
              <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal" fdprocessedid="xakwfg">Great, thanks!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}